/* @import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css); */

.gallery-container {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 140px;
}

body .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 1000px;
    width: calc(100% - 100px);
    height: 400px;
}

body .options .option {
    position: relative;
    overflow: hidden;
    min-width: 50px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option:nth-child(1) {
    --defaultBackground: #F1D651 ;
    opacity: 0.8;
}
.option:nth-child(2) {
    --defaultBackground:#F1D651;
    opacity: 0.8;
}
.option:nth-child(3) {
    --defaultBackground:#F1D651 ;
    opacity: 0.8;
}
.option:nth-child(4) {
    --defaultBackground:#F1D651  ;
    opacity: 0.8;
}
.option:nth-child(5) {
    --defaultBackground:#F1D651 ;
    opacity: 0.8;
}
.option:nth-child(6) {
    --defaultBackground: #F1D651 ;
    opacity: 0.8;
}
.option:nth-child(7) {
    --defaultBackground: #F1D651 ;
    opacity: 0.8;
}
.option:nth-child(8) {
    --defaultBackground: #F1D651 ;
    opacity: 0.8;
}
.option:nth-child(9) {
    --defaultBackground: #F1D651 ;
    opacity: 0.8;
}
.option:nth-child(10) {
    --defaultBackground: #F1D651 ;
    opacity: 0.8;
}

.option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 300px;
    margin: 0px;
    border-radius: 15px;
    background-size: auto 100%;
}

.option.active .label {
    bottom: 20px;
    left: 20px;
}
.option.active .label .info > div {
    left: 0px;
    opacity: 1;
}
.option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
    max-width: 50px;
}

.option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}
.option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
}

.label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.img-bg {
    padding: 20px;
    border-radius: 28px;
    width: 487px;
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden; /* Ensure that overflow is hidden to hide the excess background */

    background: url('../images/backgrounds/king.jpeg') center/cover no-repeat, lightgray;
    background-size: cover;
    /* The 'left' value positions the image on the left, and 'cover' ensures the image covers the container */
}

.description {
    display: none;
}

.active .description {
    display: block;
}

.image {
    background-size: cover;
    width: 100%; 
    height: 100%;
    border-radius: 10px; 
    background-size: center;
    top: 0;
}

.active-image {
    height: 40%;
    width: 94%;
    position: absolute;
    top: 3%; 
    left: 3%;
}

h1.text-white, h1.text-black {
    margin-top: 40px;
}
h1.text-white, h1.text-black, h1.text-white span.text-uppercase {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}